@media print {
  .print-logo {
    display: block;
    width: 500px; /* Set the width for printing */
    margin: 0 auto 20px;

  }

  /* Print-specific styles */
  table {
    font-size: 8px;
  }

  th, td {
    padding: 4px;
  }

  .printable {
    font-size: 5px;
  }

  .no-print {
    display: none;
  }
}
